/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-bottom: 2em;
}

div.fundo_header {

  height: 130px;
  background-color: #3F51B5;
  top: 0;

  h1 {
    color: white;
    padding-top: 1em;
  }

}

div.inscricoes {
  padding-top: 2.5em;
}

.tab-pane {
  padding: 2em;
  border: 1px solid #DCDCDC;
  border-top: 0;
}

#dados_candidato {

  li {
    line-height: 2em;
  }

}

.cartao_resposta_div {
  // border: 1px solid #ff9eb5;
  min-height: 970px;
}

.odd {
  background-color: #eca3b7;
}

.cartao_resposta_opcao_number {
  border: 1px solid #ee5d71;
  height: 35px;
  padding-top: 7px;
}

.cartao_resposta_opcao {
  border: 1px solid #ee5d71;
  height: 35px;
  border-left: 0;
  border-right: 0;
  padding-top: 2px;
}

.cartao_resposta_opcao_last {
  border: 1px solid #ee5d71;
  height: 35px;
  border-left: 0;
  padding-top: 2px;
}

.op {
  margin-left: -10px;
  border-radius: 50%;
  border: 1px solid #f16578;
  color: #ef5065;
  padding: 3px;
  width: 20px;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  margin-top: 4px;
  background-color: white;
}

.marked {
  background-color: #333333;
  color: #333333;
  border: 1px solid #333333;
}

.op_number {
  margin-left: -7px;
}

.op_number_100 {
  margin-left: -11px;
}